@import '../utils';

#branch {
    margin: $main-margin;
}

#branch-title {
    @include flex(row, center);
    margin: $main-margin;

    h1 {
        border-bottom: double 3px #323cb0;
    }
}

#branch-content {
    @include flex(row, space-around);
    margin: $main-margin;
}

#branch-content-server {
    @include flex(column, space-around);
    width: 50%;
    margin: $main-margin;
    
    h2 {
        text-align: center;
    }

}

#branch-content-calendar {
    @include flex(column, space-around);
    width: 50%;
    margin: $main-margin;
}
#branch-content-server-button {
    @include flex(row, space-evenly);
    width: 50%;
}

.DayPicker-Day {
    outline: none;
    // background-image: linear-gradient( 45deg, rgb(0, 100, 217) 40%, rgb(0, 15, 162) 100% );
}
